@import url('https://fonts.googleapis.com/css?family=Acme');
body {
    overflow-x: hidden;
}
#cover {

height:100vh;
 background-image: linear-gradient(0deg, #b4e0ef, #30c1f2);
    
}
#features {
    height:100vh !important; 
    padding-top:100px;
    background-image: url("../images/background.png");
    background-size: 300px;
    
    
}
#main-logo {
    z-index: 200;
    text-align: center;
    padding-top: 30px;
    position:relative;
}

#main-logo img {
    width:600px;
}
#awan {
    z-index: 100;
}
#awan img {
     position:absolute;
}
#awan img:first-child {
   
    top:200px;
    left:-400px;
}
#awan img:last-child{
    top:500px;
    right:-400px;
}
.caption {
    position:relative;
    text-align: center;
    top:-30px
}
.caption h2{
    font-weight: bold;
    font-size:40px;
    color:white;
    font-family: "Acme"
}
.blue {
    color: #1986b4;
}
.store {
    text-align: center;
    position:relative;
}
#footer {
    background-color:#87513c;
    height:100vh;
     
}
.slide {
    position:relative;
	float:left;
	left: 0;
    
}
.slider-container {
    margin-left:auto;
    margin-right: auto;
     border: 20px solid #1986b4;
    border-radius: 20px;
    height:440px;
    background:white;
    width:750px;
    position:relative;
    overflow: hidden;
}
.slider {
   position: relative;
	height: 440px;
    width:3000px;
	padding:0;
	left:0;
}
.navigation {
    width:1000px;
    position:relative;
    top:-250px;
    margin-left: auto;
    margin-right: auto;
}
.navigation .nav-left {
    float:left;
    transform:rotate(180deg);
}
.navigation .nav-right {
    float:right;
}
.title h2 {
    margin-left:auto;
    margin-right: auto;
    text-align: center;
    font-family:"Acme";
    color:#1986b4;
    font-weight: bold;
    font-size:50px;
}
#story {
    background-color:#B3E0EF;
    padding:30px;
    padding-left:60px;
    padding-right:px;
}
#aestetik {
    background-color:#B3E0EF;
    padding:30px;
    padding-left:60px;
    padding-right:px;
}
#aestetik .content {
}
#aestetik .content h2 {
    color : #1986b4;
    font-family: "Acme";
}
#aestetik .content p {
    font-family: "Acme";
    color:#505050
}
#aestetik .content .row:first-child{
    margin-top:20px;
}
#aestetik .content .row {
    margin-top:30px;
}
.item{
   text-align: center;
   
}
.circle {
     border-radius: 50%;
    background-color:white;
  width: 170px;
    box-shadow: 0px 0px 0px 10px #1986b4;
    height:170px;
    margin-left:auto;
    margin-right:auto;
}
.nav {
  
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
.nav-left:hover {
  -webkit-transform: rotate(540deg);
          transform: rotate(540deg);
}
.nav-right:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
.slide-caption h2 {
    clear: both;
    position:relative;
    top:-80px;
    font-family: "Acme";
    color:#1986b4;
    font-size:30px;
    text-align: center;
    
}
.store img{
     -webkit-transition: -webkit-transform .6s ease-in-out;
          transition:         transform .6s ease-in-out;
    margin:10px;
}
.store img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);

}
.footer-caption h2 {
   font-family: "Acme";
    color:white;
    font-size:40px;
    text-align: center;
    position:relative;
    left:-500px;
    opacity: 0;
}
.rock {
    background-image:url("../images/rock.png");
    background-size: 220px;
    width: 100%;
    height:100px;
}
#footer img {
    position:relative;
    left:-600px;
}
.logo {
    position:absolute;
    width:100%
}
.logo-item {
    float:right;
}
.logo-gemastik {
    margin-right:100px;
    
}
.logo-um {
    margin-right:20px;
}

html, body {
  margin:0;
  padding:0;
}

.comic {
  display:flex;
  flex-wrap:wrap;
  font-family:'Comic Sans', cursive;
  padding:1vmin;
    
}

.panel {
  background-color:#fff;
  border:solid 2px #000;
  box-shadow:0 6px 6px -6px #000;
  display:inline-block;
  flex:1 1;
  height:200px;
  margin:1vmin;
  overflow:hidden;
  position:relative;
}

.text {
  background-color:#fff;
  border:solid 2px #000;
  margin:0;
  padding:3px 10px;
}

.top-left {
  left:-6px;
  position:absolute;
  top:-2px;
  transform:skew(-15deg);
}

.bottom-right {
  bottom:-2px;
  position:absolute;
  right:-6px;
  transform:skew(-15deg);
}

.speech {
  background-color:#fff;
  border:solid 2px #000;
  border-radius:12px;
  display:inline-block;
  margin:.5em;
  padding:.5em 1em;
  position:relative;
}

.speech:before {
  border:solid 12px transparent;
  border-left:solid 12px #000;
  border-top:solid 12px #000;
  bottom:-24px;
  content:"";
  height:0;
  left:24px;
  position:absolute;
  transform:skew(-15deg);
  width:0;
}

.speech:after {
  border:solid 10px transparent;
  border-left:solid 10px #fff;
  border-top:solid 10px #fff;
  bottom:-19px;
  content:"";
  height:0;
  left:27px;
  position:absolute;
  transform:skew(-15deg);
  width:0;
}

.panel:nth-child(1) {
  flex-basis: 400px;
}
.panel:nth-child(2) {
  flex-basis: 200px;
}
.panel:nth-child(3) {
  flex-basis: 200px;
}
.panel:nth-child(4) {
  flex-basis: 200px;
}
.panel:nth-child(5) {
  flex-basis: 200px;
}
.panel:nth-child(6) {
  flex-basis: 200px;
}
.panel:nth-child(7) {
  flex-basis: 400px;
}
.panel:nth-child(8) {
  flex-basis: 200px;
}
.panel:nth-child(9) {
  flex-basis: 200px;
}

/* background colours */

.panel:nth-child(4n+1) {
  background-image:radial-gradient(circle, yellow, orange);
}

.panel:nth-child(4n+2) {
  background-image:radial-gradient(circle, lightblue, deepskyblue);
}

.panel:nth-child(4n+3) {
  background-image:radial-gradient(circle, palegreen, yellowgreen);
}

.panel:nth-child(4n+4) {
  background-image:radial-gradient(circle, lightcoral, tomato);
}